*{
    margin: 0;
    padding: 0;
}

body {
    max-width: 100%;
    background-image: url('../img/background.png');
    background-size: 100%;
    
}
.wrapper {
    font-family: 'Roboto';
    width: 1030px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    box-sizing: border-box;
}
.header-container {
    height: 61px;
    display: flex;
    justify-content: space-between;
    color: #FFFFFF;
    margin-top: 46px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    
    
}
.company-logo {
    display: flex;
    width: 180px;
    height: 50px;
    cursor: pointer; 
    bottom: 0;
}


.logo-link {
    position: relative;
    display: flex;
   
}
.logo-link:hover .logo-hidden {
    display: block;
}

.logo-link:hover .logo-text {
    color: #F26522;
}
.logo-hidden {
    position: absolute;
    top: 0;
    right: 0;
    display: none; 
}

.logo-text1 {
    position: absolute;
    left: 61px;
    right: 0;
    color: #FFFFFF;
    top: 0;
    width: 140px;
    height: 30px;
    font-weight: 700;
    font-size: 29px;
    line-height: 29px;
    bottom: 26px;
}
.logo-text2 {
    position: absolute;
    left: 61px;
    right: 0;
    color: #FFFFFF;
    padding-top: 5px;
    bottom: 0;
    width: 135px;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
}

.logo-link:hover .logo-hidden {
    display: block;
}
.logo-link:hover .logo-text1-hidden {
    display: block;
}
.logo-link:hover .logo-text2-hidden {
    display: block;
}

.contacts {
    color: #FFFFFF;
    cursor: pointer; 
}

.contact-type-mail {
    color: #FFFFFF;
    margin-bottom: 19px;
    font-size: 18px;
    line-height: 18px;
}

.contact-type-tel {
   text-align: right;
}

.contact-link {
    color: #FFFFFF;
    text-decoration: none; 
}
.contact-link:hover {
    color: #F26522; 
}
.tours {
    margin-top: 17px;
    margin-bottom: 49px;
    display: block;
    margin-left: auto; 
    margin-right: auto
    
}
.box-tours {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 37px 55px;
    list-style: none;

}
.tour-item {
    position: relative;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    height: 261px;
}
.tour-item:hover .details-container {
    display: block;
    position: absolute;
    bottom: 29px;
    opacity: 1;
    transition: all .45s;
    

}
.details-container {
    display: block; 
    background: #F26522;; 
    width: 309px;
    height: 55px;
    overflow: hidden;
    position: absolute;
    bottom: -25px;
    margin: 0;
    color: #FFFFFF;
    left: 2px;
    opacity: 0;
    transition: all .45s;

}
.details-hidden {
    position: absolute;
    left: 16px;
    font-size: 10px;
    top: 7px;
}
.details-cost-hidden {
    position: absolute;
    bottom: 12px;
    left: 16px;
    font-size: 20px;
    line-height: 20px;
}
.details-more-hidden {
    position: absolute;
    right: 37px;
    bottom: 12px;
}
.details-more-hidden::after {
    content: url("../img/Vector1.svg");
    width: 5px;
    height: 10px;
    margin-left: 16px;
    color: #FFFFFF;
}
.tour-link {
   color: #FFFFFF;
   text-decoration: none;
   display: inline-block;

}
.tour-link:hover {
    color: #F26522;;
}
.tour-image {
    height: 100%;
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(255,255,255,1) 100%);
    padding: 5px;
}
.tour-name {
    margin-top: 20px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 15px;
}

.copyright {
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    font-size: 12px;
    line-height: 12px;
    box-sizing: border-box;
} 